{% extends "layout.html" %}

{% block content %}
{% with message = get_flashed_messages() %}
{% if message %}
    <h3>{{ message[0] }}</h3>
{% endif %}
{% endwith %}
<div class="commitments">
    <div class="existing-commitments">
        {% for friend, commitments, sum in all_commitments %}
            {% if commitments %}
                <div class="commitment">
                    <h4>{{ friend }}</h4>
                    <table>
                        <thead>
                            <tr>
                                <td>How much?</td>
                                <td>For what?</td>
                                <td>Since?</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for commitment in commitments %}
                            <tr>
                                <td>{{ commitment.amount }}</td>
                                <td>{{ commitment.title }}</td>
                                <td>{{ commitment.date }}</td>
                                <td>
                                    <form action="/delete_commitment", method="POST" id="update-form">
                                        <button type="submit">x</button>
                                        <input type="hidden" name="commitment-id" value="{{ commitment.id }}">
                                    </form>
                                </td>
                            </tr>
                            
                        
                        {% endfor %}
                        <tr>
                            <td>Summary: {{ sum }}</td>
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="new-commitment">
        {% if friends %}
        <form method="POST" action="/commitments">
            <select name="friend_id">
                {% for friend in friends %}
                    <option value="{{ friend.id }}">{{ friend.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="reason" placeholder="Reason?">
            <input type="text" name="how-much" placeholder="How much?">
            <button type="submit" value="add">Add</button>
        </form>
        {% else %}
        <h3>You have to add friend if you want to add any commitment</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}