{% extends "layout.html" %}

{% block content %}
<div id="search-strap">
    GOOGLE SEARCH API
</div>

{% if notes %}
<div class="notes horizontal-scroll-wrapper squares">
    {% for note in notes %}
        <div class="note">
            <form action="/update_note", method="POST" id="update-form">
                <textarea 
                    cols = "40"
                    rows = "5"
                    maxlength=250
                    name="edited-note">{{ note.content }}</textarea>
                <button type="submit">Edit note</button>
                <button type="submit" formaction="/delete_note">Delete note</button>
                <input type="hidden" name="note-id" value="{{ note.id }}">
            </form>
            <span>{{ note.date }}</span>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if money %}
<div class="money">

    {% if commitments %}
    <div class="commitments">
        <table>
            <thead>
                <h4>Commitments</h4>
                <tr>
                    <td>How much?</td>
                    <td>For what?</td>
                </tr>
            </thead>
            <tbody>
            {% for commitment in commitments %}
                <tr>
                    <td>{{ commitment.amount }}</td>
                    <td>{{ commitment.title }}</td>
                    <td>
                        <form action="/delete_commitment", method="POST" id="update-form">
                            <button type="submit">x</button>
                            <input type="hidden" name="commitment-id" value="{{ commitment.id }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Summary: {{ sums[1] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if sums[2] %}
    <div class="money_summary">
        {% if sums[1] > sums[0] %}
            <h3>You owe people {{ sums[2] }}</h3>
        {% else %}
            <h3>People owe you {{ sums[2] }}</h3>
        {% endif %}
    </div>
    {% endif %}


    {% if receivables %}
    <div class="receivables">
        <table>
            <thead>
                <h4>Receivables</h4>
                <tr>
                    <td>How much?</td>
                    <td>For what?</td>
                </tr>
            </thead>
            <tbody>
            {% for receivable in receivables %}
                <tr>
                    <td>{{ receivable.amount }}</td>
                    <td>{{ receivable.title }}</td>
                    <td>
                        <form action="/delete_receivable", method="POST" id="update-form">
                            <button type="submit">x</button>
                            <input type="hidden" name="receivable-id" value="{{ receivable.id }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Summary: {{ sums[0] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
{% endif %}

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}