<!DOCTYPE html>
<html>
  <head>
    <title>Personal Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div id="navbar-top">
      {% block content_one %}
      {% endblock %}
      <button>Log out</button>
    </div>
    <div id="navbar-left">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>  
          <a href="#">Notes</a>
        </li>
        <li>  
          <a href="#">Money</a>
          <div id="sub-options">
            <ul id="categories">
              <li>
                <a href="#">Commitments</a>
              </li>
              <li>
                <a href="#">Receivable</a>
              </li>
            </ul>
          </div>
        </li>
        <li>  
          <a href="#">Friends</a>
        </li>
        <li>  
          <a href="#">Pictures</a>
        </li>
        <li>  
          <a href="#">Portfolio</a>
        </li>
      </ul>
    </div>
    <div id="middle">
      {% block content_two %}
      {% endblock %}
    </div>
  </body>

  <footer>
    {% block footer %}
      &copy; Copyright 2019 by <a href="https://github.com/qwark97">Marcin Plata</a>.
    {% endblock %}
  </footer>
</html>