<!DOCTYPE html>
<html>
  <head>
    <title>Personal Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div id="navbar-top">
      <div id="user-hello">
          <span id="name">Hello {{ current_user.name }}</span>
          <span id="summary">Today is {{ summary }}</span>
          <span id="temp">Temperature at the moment is aproximately: {{ temp }}</span>
      </div>
      <form action="{{ url_for('logout') }}">
        <button type="submit">Log out</button>
      </form>
    </div>
    <div id="navbar-left">
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>  
          <a href="/notes">Notes</a>
        </li>
        <li>  
          <a>Money</a>
          <div id="sub-options">
            <ul id="categories">
              <li>
                <a href="/commitments">Commitments</a>
              </li>
              <li>
                <a href="/receivables">Receivables</a>
              </li>
            </ul>
          </div>
        </li>
        <li>  
          <a href="/friends">Friends</a>
        </li>
        <li>  
          <a href="#">Pictures</a>
        </li>
        <li>  
          <a href="#">Portfolio</a>
        </li>
      </ul>
    </div>
    <div id="middle">
      {% block content %}
      {% endblock %}
    </div>
  </body>

  <footer>
    {% block footer %}
      &copy; Copyright 2019 by <a href="https://github.com/qwark97">Marcin Plata</a>.
    {% endblock %}
  </footer>
</html>