{% extends "layout.html" %}

{% block content %}
{% with message = get_flashed_messages() %}
{% if messages %}
    <h3>{{ message }}</h3>
{% endif %}
{% endwith %}
<div class="notes">
    <ul>
        {% for note in notes %}
            <div class="note">
                <form action="/update_note", method="POST" id="update-form">
                    <textarea 
                        cols = "40"
                        rows = "5"
                        maxlength=250
                        name="edited-note">{{ note.content }}</textarea>
                    <button type="submit">Edit note</button>
                    <button type="submit" formaction="/delete_note">Delete note</button>
                    <input type="hidden" name="note-id" value="{{ note.id }}">
                </form>
                
                <span>{{ note.date }}</span>
            </div>
        {% endfor %}
    </ul>
</div>
<div class="new-notes">
    <form action="/notes", method="POST" id=new-note>
        <textarea 
            cols = "40"
            rows = "5"
            maxlength=250
            name="new-note"
            >I'm thinking about...
        </textarea>
        <button type="submit">Add note</button>
    </form>
    
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}