{% extends "pre_log_layout.html" %}

{% block content %}
<div class="signin">
    <h3 class="title">Sign In</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="notification is-danger">
                    {{ message }}.
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signin">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password_check" placeholder="Repeat password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign In</button>
        </form>
    </div>
</div>
{% endblock %}